/.idea/
.pytest_cache
*.pyc*
*__pycache__*
*/__pycache__
.DS_Store
*.DS_Store
*.log
*.tmp
kinases_dataset/
kinases_dataset_1/
20250830_kinases_dataset_content.txt
20250830_kinases_dataset_1_content.txt
subword/
vocab/
logs/
models/
src/code_copies/
src/matrix_embedding_not_exists.txt
tb-logs/
src/training/V3/code_copies/
src/llm/esm/code_copies/
src/prediction_scripts/step_1_step_2_combined/both/code_copies/
models_small_weight/
models*/
bash_scripts*/step_1/esm/output/
bash_scripts*/step_1/transformer/output/
bash_scripts*/step_2/esm/output/
bash_scripts*/step_2/transformer/output/
bash_scripts*/step_1/transformer/code_copies/
bash_scripts*/step_3/esm/output/
bash_scripts*/step_3/transformer/output/
bash_scripts*/step_2/transformer/code_copies/
bash_scripts*/step_3/transformer/code_copies/
bash_scripts*/step_1/esm/code_copies/
bash_scripts*/step_2/esm/code_copies/
bash_scripts*/step_3/esm/code_copies/
unique_filtered_overlap/*
non_kinases_preprocessed/*
bash_scripts*/step_1/both/output/
bash_scripts*/step_2/both/output/
bash_scripts*/step_3/both/output/
bash_scripts*/step_1/both/code_copies/
bash_scripts*/step_2/both/code_copies/
bash_scripts*/step_3/both/code_copies/
bash_scripts*/prediction/*/*/output/
bash_scripts*/prediction/*/*/code_copies/
